/* Some CSS Setup - nothing to do with flexbox */

@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

/* styles for the header part */

.header {
  padding: 10px;
  background: #2376ae;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 80em;
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 12px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.header-text {
  font-weight: 500;
  font-size: 2em;
}

.fa-heart {
  /* color of the heart is to be decided */
  color: #da70d6;
}

/*  for screen size with max-width of 700px */
@media (max-width: 700px) {
  .header-text {
    width: 100%;
    text-align: center;
    margin: 10px auto;
  }
  .homelink {
    /* margin: 14px auto; */
    margin: 0 auto;
    text-align: center !important;
  }
}

/* styling for the navigation bar */

.main-nav {
  background: #ffc600;
}

.main-nav a {
  text-decoration: none;
}

.main-nav ul,
.main-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* using flexbox */
.main-nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main-nav ul a {
  display: flex;
  padding: 15px 35px;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
}

/* .main-nav ul a:hover, .main-nav ul a:focus{
      color to be decided

  } */

.main-nav ul .mobile a {
  position: absolute;
  left: -99999em;
}

/* for screen size with a max-width of 700px */

@media (max-width: 700px) {
  .main-nav ul {
    flex-wrap: wrap;
    /* justify-content: flex-start; */
  }

  .main-nav ul a {
    position: absolute;
    left: -99999em;
  }

  .main-nav ul.mopen li {
    width: 100%;
  }

  .main-nav ul.mopen li.mobile a {
    background: #fbf78d;
    color: black;
    font-weight: bold;
  }

  .main-nav ul.mopen a {
    position: static;
  }

  .main-nav ul .mobile a {
    position: static;
  }

  .main-nav a {
    width: 100%;
  }
}

/* footer code */
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #484848;
  color: #fefefe;
  padding: 20px 0;
  letter-spacing: 0.5px;
  /* testing position */
}

footer p {
  font-size: 15px;
  opacity: 0.9;
  align-self: center;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  opacity: 0.75;
  color: #fefefe;
}

.footer-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-btn a {
  opacity: 0.75;
  color: #fefefe;
  text-decoration: none;
  margin-top: 15px;
  font-size: 20px;
  border: 3px solid #ffc600;
  padding: 10px 20px;
}

.footer-btn a:hover {
  opacity: 1;
}

footer ul li a:hover {
  opacity: 1;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-left: 16px;
}

/* background color for the social icons are to be added */

/* organization contact details  code*/
.wrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}

/* .wrapper p{
    margin: 0;
    padding: 0;
  } */

.org-icons {
  padding-bottom: 1em;
}

.first {
  padding: 15px;
  background: #35647c;
  color: white;
  flex-basis: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.second {
  padding: 15px;
  background: #554960;
  color: white;
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third {
  padding: 15px;
  background: rgb(197, 111, 14);
  color: white;
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* media queries */
@media (max-width: 935px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .first,
  .second,
  .third {
    flex-basis: 100%;
    font-size: 18px;
    letter-spacing: 0.1px;
  }
}

/* user form details */

.userdetails {
  padding-top: 30px;
  padding-bottom: 30px;
  background: white;
}

.user-msg {
  font-size: 26px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

form {
  max-width: 300px;
  margin: 35px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
}

input[type="text"],
input[type="email"] {
  margin-bottom: 30px;
}

button {
  padding: 15px 10px;
  color: black;
  cursor: pointer;
  background-color: #ffc6a0;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}
fieldset {
  margin-bottom: 30px;
  border: none;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

/* media queries */

@media (max-width: 500px) {
  .user-msg {
    font-size: 20px;
  }
}

@media (min-width: 700px) {
  .user-msg {
    font-size: 32px;
  }
}

@media (min-width: 1000px) {
  .user-msg {
    font-size: 36px;
  }
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}

/* donation page code */

.donation-page {
  padding-top: 30px;
  /* padding-bottom: 30px; */
  background: white;
}

.donation-msg {
  font-size: 26px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* image gallery  */

.gallery {
  padding-top: 30px;
  padding-bottom: 50px;
}

.gallery-msg {
  font-size: 26px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
  color: white;
}

ul.image-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  padding-top: 30px;
}

ul.image-grid li {
  width: 25%;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
}

ul.image-grid li:hover {
  transform: scale(1.5);
}

.image-01 {
  background-image: url("././images/bg1.jpg");
}

.image-02 {
  background-image: url("././images/bg2.jpg");
}

.image-03 {
  background-image: url("././images/bg3.jpg");
}

.image-04 {
  background-image: url("././images/bg4.jpg");
}

.image-05 {
  background-image: url("././images/bg5.jpg");
}

.image-06 {
  background-image: url("././images/bg6.jpg");
}

.image-07 {
  background-image: url("././images/bg7.jpg");
}

.image-08 {
  background-image: url("././images/bg8.jpg");
}

.image-09 {
  background-image: url("././images/bg9.jpg");
}

.image-10 {
  background-image: url("././images/bg10.jpg");
}

.image-11 {
  background-image: url("././images/bg11.jpg");
}

.image-12 {
  background-image: url("././images/bg12.jpg");
}

/* media queries */

@media screen and (max-width: 960px) {
  ul.image-grid li {
    width: 33.33%;
  }
}

@media screen and (max-width: 800px) {
  ul.image-grid li {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  ul.image-grid li {
    width: 100%;
  }
}

/* team details */

/* testing code footer */
.testing-content {
  min-height: calc(100vh - 70px);
  /* padding: 40px 40px 0 40px; */
}

.testing-footer {
  height: 60px;
}

/* footer for the small screens */
@media (max-width: 1100px) {
  footer {
    flex-direction: column;
  }
  .testing-footer {
    height: 220px;
  }
  footer p {
    text-align: center;
    margin-bottom: 20px;
  }
  footer ul li {
    margin: 0 8px;
  }
}

@media (max-width: 1099px) {
  footer {
    padding: 20px 0 0 0;
  }
}

@media (min-width: 1100px) {
  .footer-btn {
    display: none;
  }
  .footer-btn {
    margin-bottom: 0;
  }
}

/* index page styling */
.quote {
  margin-top: 50px;
  /* margin-bottom: 30px; */
  text-align: center;
  color: white;
  font-size: 34px;
}

/* media queries for quote */
@media (max-width: 730px) {
  .quote {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .quote {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .quote {
    font-size: 18px;
  }
}

/* index content  */

.index-content {
  display: flex;
  flex-wrap: wrap;
}

.main-content p {
  margin: 5px;
  padding: 0;
}

.main-content {
  padding: 15px;
  /* color: #e9e6e6; */
  color: #dcd8d7;
  /* color: #e1dedd; */
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  margin: 5%;
  line-height: 24px;
  font-size: 18px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

/* .children-image {
  padding: 15px;
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1%;
} */

/* media queries */
/* @media (max-width: 885px) {
  .index-content {
    display: flex;
    flex-direction: column;
  }
  .main-content,
  .children-image {
    flex-basis: 100%;
    font-size: 18px;
    letter-spacing: 0.1px;
  } */
/* .children-image p img {
    display: none;
  } */
/* } */

/* .children-image p img {
  width: 100%;
  min-height: 100vh;
} */

@media (max-width: 800px) {
  .main-content {
    font-size: 16px;
  }
}

/* board of directors */
.directors {
  margin-bottom: 60px;
  text-align: center;
  color: white;
  font-size: 34px;
}

/* grid styles */

.card-content p {
  color: #666;
}

.card-content h2 {
  font-size: 28px;
  color: #e74c3c;
}
.centered {
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 52em) {
  .centered {
    max-width: 52em;
  }
}

.site-title {
  color: white;
}

.card {
  /* background: white;
  margin-bottom: 2em; */
  background: white;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.card a {
  color: black;
  text-decoration: none;
}

.card a:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
  padding: 1.4em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: normal;
}

.card-content p {
  font-size: 95%;
}

.card a img {
  width: 100%;
  height: 250px;
}

/* Flexbox styles */
@media screen and (min-width: 32em) {
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
    /* width: calc(50% - 1em); */
  }
} /* mq 40em*/

@media screen and (min-width: 45em) {
  .cards {
    margin-top: inherit;
  }

  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);
    /* width: calc(33% - 1em); */
  }
} /* mq 60em*/

/* social icons hover effect */
.fa-youtube-play:hover {
  color: #f00;
  background-color: #fff;
  padding: 2px;
}

.fa-facebook:hover {
  color: #3b5998;
  background-color: #fff;
  padding: 2px;
}

.fa-twitter:hover {
  color: #00aced;
  background-color: #fff;
  padding: 2px;
}

.fa-instagram:hover {
  background-color: #000;
  padding: 2px;
}

/* styles for the names */
.names {
  text-decoration: none;
  color: goldenrod !important;
  font-weight: bold;
}

iframe {
  margin: 0 auto !important;
}

#testing-donorbox {
  margin: 0 auto;
  max-width: 900px;
}
